/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #93adbee4;
  color: black;
  min-height: 100vh;
  margin: 0 auto;
}

header {
  text-align: center;
}

h1 {
  font-family: 'Josefin Slab', serif;
  font-size: 2.5rem;
  margin-top: 30px;
}

.leftSide {
  display: flex;
  height: 500px;
  width: 70px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.leftSide img {
  width: 30px;
  height: 30px;
}

#userPic {
  object-position: 50% 50%;
  object-fit: cover;
  border-radius: 50%;
}

.verticalLine {
  position: absolute;
  left: 80px;
  top: 78px;
  width: 2px;
  height: 500px;
  background-color: rgba(37, 37, 37, 0.82);
}

nav > h2 {
  font-family: 'Josefin Slab', serif;
  font-weight: 700;
  position: absolute;
  left: 166px;
  top: 100px;
}

.to {
  font-weight: 200;
  font-size: 21px;
}

#mainBreedImage {
  width: 300px;
  height: 350px;
  position: absolute;
  left: 166px;
  top: 140px;
  border-radius: 5%;
  object-position: left;
  object-fit: cover;
}

.mainBreed h2 {
  position: absolute;
  left: 166px;
  top: 500px;
}

h4 {
  position: absolute;
  left: 390px;
  top: 570px;
}

p {
  font-family: 'Hepta Slab', serif;
  font-size: 14px;
  position: absolute;
  left: 166px;
  top: 530px;
  width: 250px;
}

.rightSide {
  position: absolute;
  left: 600px;
  top: 140px;
  display: flex;
  height: 500px;
  width: 640px;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

h3 {
  font-family: 'Josefin Slab', serif;
  font-weight: 700;
  margin-bottom: 20px;
}

section > div {
  width: 500px;
  height: 140px;
}

section div:nth-child(2) {
  margin-bottom: 10px;
}

section div:nth-child(3) {
  width: unset;
  height: unset;
}

div > img {
  width: 280px;
  height: 130px;
  object-position: 50% 50%;
  object-fit: cover;
  margin: 10px 0;
  border-radius: 5%;
}

div > h3 {
  width: unset;
  height: unset;
}
